@import "mocha.css"; 

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  color: @rosewater;
  transition-property: background-color;
  transition-duration: 0.1s;
}

#window {
  margin: 14px 8px 8px;
  padding: 0 8px;
}

button {
  border: none;
  border-radius: 0;
}

#workspaces {
  margin-top: 8px;
  border: 1px solid @mauve;
  border-radius: 4px;
}

#workspaces button {
  padding: 0 0.5rem;
  color: @mauve;
  font-size: 6px;
}

#workspaces button.empty {
  background: transparent;
  color: #232323;
}

#workspaces button.active {
  color: @rosewater;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#cpu,
#memory,
#custom-power,
#custom-weather,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray,
#pulseaudio {
  border-radius: 4px;
  margin: 8px 0 0;
  padding: 6px 10px;
  color: #181825;
  background-color: rgba(203, 166, 247, 0.5);
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#clock {
  margin-left: 8px;
}

#custom-power {
  margin-right: 8px;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
